#headshot{
	height:300px;
	width:220px;
    float:left;
    margin-right:20px;
    margin-top:20px;
    margin-bottom:10px;
}
.center{
	 text-align: center;
}
body{
	background-color:#A53F35;
}
.icons{
    margin-right:8px;
    height:25px;
    width:25px;
}
#linkedin{
    margin-left:5px;
}
#head{
    margin-bottom:50px;
}
#headText{
    padding-top:20px;

}
#headdesc{
    margin-top:-15px;
}
#main{
	font-family: 'Lato', sans-serif;
	background-color: #fbfbfb;
    margin: auto;
    width: 50%;
    max-width: 850px;
    min-width: 250px;
    margin-top:20px;
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left:120px;
    padding-right:120px;
    text-align: left;
    font-weight: 300;
    line-height: 1.4;
}




